<style>
	a[href="#"], a[href=""] {
    cursor: default;
}
</style>
<fieldset>
<div class="container-fluid" >
	<div class="row">
		<div class="col-md-12">
	    	<div class="form-group">
	    		<%= f.label :address %>
	   			<%= f.text_area :address_text , :placeholder => 'Address,Street/Area',class: "form-control" ,maxlength: "40"%>
	    	</div>
			<div class="form-group">
				<%= f.label :pincode %>
	   			<%= f.text_field :pincode, class: "form-control" , onkeypress:"return isNumberKey(event);", maxlength: "6"%>
			</div>
			<div class="form-group">
				<%= f.label :city %>
	   			<%= f.text_field :city_name, class: "form-control",maxlength: "20" %>
			</div>
			<div class="form-group">
				<%= f.label :state %>
	   			<%= f.text_field :state_name, class:"form-control",maxlength: "25"%>
			</div>
			<div class="form-group">
				<%= f.label :country %>
	   			<%= f.text_field :country_name, class:"form-control",maxlength: "20"%>
			</div>
			<div class="form-group">
				<%= f.hidden_field :_destroy %>
			</div>
			<div class="form-group">
				<%= link_to "Remove", '#', class: "remove_fields" %>
			</div>
		</div>
	</div>
</div>
</fieldset>
<div class="modal fade modal-confirm" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
          <div class="modal-body">
              <i class="md md-alert-circle" style="font-size: 60px;"></i>
              <h3 class="modal-confirm-message"><span id="alertMsg" style="font-size: 18px;"></span></h3>
              <button type="button" data-dismiss="modal" class="btn btn-lg">Ok</button>
          </div>
      </div>
  </div>
</div>
<% content_for(:extra_scripts) do %>
	function isNumberKey(evt) {
	var charCode = (evt.which) ? evt.which : event.keyCode;
	if (charCode > 31 && ((charCode < 48) || (charCode > 57))){
		displayAlertMsg("Only numeric");
		return false;
	}
	return true;
}

function displayAlertMsg(alertMsg) {
    $("#alertModal").modal('show');
    $("#alertMsg").text(alertMsg);
}
<% end %>
	    		
	    		
	    
		

