<style>
	a[href="#"], a[href=""] {
    cursor: default;
}
</style>
<%= form_for contact_name do |form| %>
  <% if contact_name.errors.any? %>
    <div id="error_explanation">
	      <h2><%= pluralize(contact_name.errors.count, "error") %> prohibited this contact_name from being saved:</h2>
	      <ul>
	      <% contact_name.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :firstName %>
    <%= form.text_field :firstName, id: :contact_name_firstName,class:"form-control"  %>
  </div>

  <div class="form-group"">
    <%= form.label :lastName %>
    <%= form.text_field :lastName, id: :contact_name_lastName,class:"form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :contact_name_email,class:"form-control"  %>
  </div>
  Address Details:
  <div class="form-group">
  	<%= form.fields_for :address_details do |f| %>
			 <%= render 'address_detail_fields' , f: f%>
	<%end%>
	<%= link_to_add_fields 'Add Address', form,:address_details%>
  </div>
  Contact Phone Numbers:
  <div class="form-group">
  	<%= form.fields_for :phone_numbers do |f| %>
			 <%= render 'phone_number_fields' , f: f%>
	<%end%>
	<%= link_to_add_fields 'Add Phone Number', form,:phone_numbers%>
  </div>

  <div class="form-buttons">
    <%= form.submit(class:"btn btn-default") %>
  </div>
<% end %>
		
