<style>
	a[href="#"], a[href=""] {
    cursor: default;
}
</style>
<fieldset>
<div class="container-fluid" >
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
			    <tr>
			    	<td>
			    		<%= f.label :phone_number %>
			   			<%= f.telephone_field :contact_number  ,class: "form-control" , onkeypress:"return isNumberKey(event);",maxlength: "10" %>
						<%= f.hidden_field :_destroy %>
						<%= link_to "Remove Phone Number", '#', class: "remove_fields" %>
			    	</td>
				</tr>
			</div>
		</div>
	</div>
</div>
</fieldset>
<div class="modal fade modal-confirm" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
          <div class="modal-body">
              <i class="md md-alert-circle" style="font-size: 60px;"></i>
              <h3 class="modal-confirm-message"><span id="alertMsg" style="font-size: 18px;"></span></h3>
              <button type="button" data-dismiss="modal" class="btn btn-lg">Ok</button>
          </div>
      </div>
  </div>
</div>
<% content_for(:extra_scripts) do %>
	function isNumberKey(evt) {
	var charCode = (evt.which) ? evt.which : event.keyCode;
	if (charCode > 31 && ((charCode < 48) || (charCode > 57))){
		displayAlertMsg("Only numeric");
		return false;
	}
	return true;
}

function displayAlertMsg(alertMsg) {
    $("#alertModal").modal('show');
    $("#alertMsg").text(alertMsg);
}
<% end %>