<p id="notice"><%= notice %></p>

<h1>Contact Names</h1>

<table class="display table table-striped table-sm table-hover" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @contact_names.each do |contact_name| %>
      <tr>
        <td><%= contact_name.firstName %></td>
        <td><%= contact_name.lastName %></td>
        <td><%= contact_name.email %></td>
        <td><%= link_to 'Show', contact_name %></td>
        <td><%= link_to 'Edit', edit_contact_name_path(contact_name) %></td>
        <td><%= link_to 'Destroy', contact_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact Name', new_contact_name_path %>
