<% content_for :action_buttons do %>
<div class="input-group">
</div>
<% end %>
<div class="container-fluid" >
	<div class="row">
		<div class="col-lg-9">
			<div class="panel panel-default">
				 <div class="panel-heading ">
					<h2>New Contact Name</h2>
				</div>
				 <div class=panel-body>
					<%= render 'form', contact_name: @contact_name %>
					<%= link_to 'Back', contact_names_path %>
				</div>
			</div>
		</div>
	</div>
</div>
<% content_for(:extra_scripts) do %>
	
<%end%>
	