<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<% content_for(:page_header) do %>
			Contact Show
			<% end %>
		  <table id="contact_list" class="display table table-striped table-sm table-hover" cellspacing="0" width="100%" >
			    <thead>
			      <tr>
			      	<th>Sl no.</th>
			        <th>Contact name</th>
			        <th>Email</th>
					<th>Address</th>
					<th>Phone Number</th>
			      </tr>
			    </thead>
			
			    <tbody>
			      <% j= 0%>
			      <% @contact_name.each do |contact_name| %>
			      <tr class='clickable' data-location='<%= edit_contact_name_path(contact_name) %>'>
			      	<td> <%= j += 1%></td>
			        <td><%= contact_name.firstName.to_s.capitalize %> <%= contact_name.lastName.to_s.capitalize %></td>
					<td><%= contact_name.email %></td>
					<td>
						<table>
							<tr>
								<td>
									<%i=0%>
									<%contact_name.address_details.each do |address_detail| %>
										<%= i+=1%>.<%=h address_detail.address_text.to_s.capitalize%></br><%=address_detail.city_name.to_s.capitalize %>,<%=address_detail.state_name.to_s.capitalize %>,<%=address_detail.country_name.to_s.capitalize %></br> Pincode: <%=address_detail.pincode%></br>
									<% end %>
								</td>
							</tr>
						</table>
					</td>
					<td>
						<table>
							<tr>
								<td>
									<%k=0%>
									<%contact_name.phone_numbers.each do |phone_number| %>
										<%= k+=1%>.<%=h phone_number.contact_number%></br>
									<% end %>
								</td>
							</tr>
						</table>
					</td>
				  </tr>
			      <% end %>
			     </tbody>
		   </table>
		   <%= link_to 'Back', contact_names_path %>
		</div>
	</div>
</div>

  <% content_for(:extra_scripts) do %>


  <% end %>
