<%= form_with(model: phone_number, local: true) do |form| %>
  <% if phone_number.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phone_number.errors.count, "error") %> prohibited this phone_number from being saved:</h2>

      <ul>
      <% phone_number.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :contact_number %>
    <%= form.number_field :contact_number, id: :phone_number_contact_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
