<p id="notice"><%= notice %></p>

<p>
  <strong>Contact number:</strong>
  <%= @phone_number.contact_number %>
</p>

<%= link_to 'Edit', edit_phone_number_path(@phone_number) %> |
<%= link_to 'Back', phone_numbers_path %>
