<%= form_with(model: address_detail, local: true) do |form| %>
  <% if address_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address_detail.errors.count, "error") %> prohibited this address_detail from being saved:</h2>

      <ul>
      <% address_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address1 %>
    <%= form.text_field :address1, id: :address_detail_address1 %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2, id: :address_detail_address2 %>
  </div>

  <div class="field">
    <%= form.label :address3 %>
    <%= form.text_field :address3, id: :address_detail_address3 %>
  </div>

  <div class="field">
    <%= form.label :pincode %>
    <%= form.number_field :pincode, id: :address_detail_pincode %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
