<p id="notice"><%= notice %></p>

<h1>Address Details</h1>

<table>
  <thead>
    <tr>
      <th>Address1</th>
      <th>Address2</th>
      <th>Address3</th>
      <th>Pincode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @address_details.each do |address_detail| %>
      <tr>
        <td><%= address_detail.address1 %></td>
        <td><%= address_detail.address2 %></td>
        <td><%= address_detail.address3 %></td>
        <td><%= address_detail.pincode %></td>
        <td><%= link_to 'Show', address_detail %></td>
        <td><%= link_to 'Edit', edit_address_detail_path(address_detail) %></td>
        <td><%= link_to 'Destroy', address_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address Detail', new_address_detail_path %>
