<p id="notice"><%= notice %></p>

<p>
  <strong>Address1:</strong>
  <%= @address_detail.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @address_detail.address2 %>
</p>

<p>
  <strong>Address3:</strong>
  <%= @address_detail.address3 %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @address_detail.pincode %>
</p>

<%= link_to 'Edit', edit_address_detail_path(@address_detail) %> |
<%= link_to 'Back', address_details_path %>
