<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    
    <a class="navbar-brand" href="/" title='Automation Onboarding Admin Panel'>
      <img style="max-height:10px; margin-top: -7px;"> <%= image_tag "oracle.png" ,:style => "height:35px" %>
    </a>
  </div>

  <div class="nav navbar-nav">
    <h3>My system title</h3>

  </div>

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav in" id="side-menu">
        <li>
          <a href="/">
            <i class="fa fa-dashboard fa-fw"></i>
            Dashboard</a>
        </li>
        <li>
          <a href="contact_names#index"><i class="fa fa-tasks fa-fw"></i> Contact Management <span class="fa arrow"></span></a>
          <ul class="nav in">
            <li>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fa  fa-info-circle fa-fw"></i>
            About</la>
        </li>
      </ul>
    </div>
  </div>
</nav>
