<ol class="breadcrumb">
  <!-- <%= yield(:breadcrumb_items) %> -->
  <% if @breadcrumbs.count > 1 %>
    <% @breadcrumbs.each_with_index do |breadcrumb, inx| %>
      <% if @breadcrumbs.size-1 != inx %>
    <li class="breadcrumb-item"><%= link_to(breadcrumb[:name], breadcrumb[:url]) %></li>
      <% else %>
    <li class="breadcrumb-item active"><%= breadcrumb[:name] %></li>
      <% end %>
    <% end %>
  <% end %>
</ol>
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <div class="row">
        <h1><div class='col-xs-12 col-md-7 col-lg-7 text-left small bottom-align-text' style="margin-top: 10px;">
          <%= content_for?(:page_header) ? yield(:page_header) : "" %>
        </div></h1>
        <div class='col-xs-12 col-md-5 col-lg-5 text-right' style="height: 100%">
          <%= content_for?(:action_buttons) ? yield(:action_buttons) : "" %>
        </div>
      </div>
    </div>
  </div>
</div>
